<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Quienes Somos</title>
<link rel="stylesheet" href="./stylesheets/app.css">
<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Gloria+Hallelujah|Shadows+Into+Light+Two|Nothing+You+Could+Do|Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="top-bar">
<div class="top-bar-right">
  <ul class="menu">
    <li><a href="index.html">Pagina Principal</a></li>
    <li><a href="index3.html">Contactanos</a></li>
  </ul>
</div>
</div>

<div class="row column text-center">
<h1>¿Quienes somos?</h1>
<hr>
<img src="images/logo.png">

<p>
  Somos una floristeria fundada por Frandy Junior Santana en 2011, en el barrio de casegemes.
  Nos dedicamos especialmente a la venta de bonsais y plantas tanto como para interior o exterior.
  Ofrecemos el mejor servicio a nuestros clientes.
  Estamos ubicados en la calle margarida xirgu #34
</p>

<hr>
<p> © 2016 Frandy Junior Santana Green</p>
</div>

</body>
</html>
